@charset "UTF-8";

.container.body{
	min-height : calc(100vh - 183.25px - 59.99px);
	padding-top : 50px;
	position: relative;
}
.text-header{
	 text-align: center;
}
.text-footer{
	text-align: center;
}
.link-blog:hover{
	color: black;
	text-decoration: none;
}
.link-blog{
	color: gray;
}
.container.body table{
	margin-top: 20px;	
}
